header.title {
    position: relative;
    h1, h3 {
        color: $dark_violet;
        font: $weight 30px $font;
        margin: 0;
        padding: 20px 50px;
        position: absolute;
        right: 0;
        text-align: right;
    }
    h3 {
        color: $dark_grayish_violet;
        font-size: 16px;
        padding: 50px;
    }
}

@media screen and (max-width: $mobile) {
    header.title {
        background: $light_grayish_violet;
        padding: 20px;
        h1, h3 {
            font-size: 20px;
            padding: 0;
            position: static;
            text-align: center;
        }
        h3 {
            font-size: 12px;
        }
    }
}