main.page {
    background: url('../../images/bg-main-desktop.png') center left no-repeat $white;
    padding: 10rem 2rem;
    section.left {
        flex: 0 1 50%;
        figure.card-image {
            display: inline-block;
            position: relative;
            &.front {
                img {
                    margin: 0 0 3rem -2rem;
                }
            }
            &.back {
                img {
                    margin: 0 0 0 4rem;
                }
            }
            span {
                color: $white;
                font: $weight 15px $font;
                letter-spacing: 2px;
                position: absolute;
                text-transform: uppercase;
                &.card-logo {
                    left: 0;
                    top: 30px;
                }
                &.card-number {
                    bottom: 130px;
                    font-size: 28px;
                    left: 0;
                }
                &.card-name {
                    bottom: 80px;
                    left: 0;
                }
                &.card-date {
                    bottom: 80px;
                    right: 30px;
                    span.month, span.year {
                        position: relative;
                    }
                }
                &.card-cvc {
                    right: 60px;
                    top: 110px;
                }
            }
        }
    }
    section.right {
        flex: 0 1 30%;
        form.client-data {
            color: $dark_violet;
            label {
                font: $weight 13px $font;
                letter-spacing: 2px;
                padding: 0;
                text-transform: uppercase;
            }
            input {
                border-color: $light_grayish_violet;
                border-radius: .5rem;
                color: $dark_violet;
                font: $weight 18px $font;
                padding: .75rem 1rem;
                &.input-half {
                    width: 45%;
                }
                &::placeholder {
                    color: $light_grayish_violet;
                }
                &:hover {
                    border-color: lighten($dark_violet, 60%);
                }
                &:focus {
                    border-color: lighten($dark_violet, 25%);
                    box-shadow: none;
                    outline: none;
                }
            }
            span.message {
                color: $red;
                font: $weight 12px $font;
                margin-top: 7px;
                padding: 0;
            }
            button.btn-confirm {
                background: $dark_violet;
                border: 0 none;
                color: $white;
                font: $weight 18px $font;
                padding: 1rem 2rem;
                &:hover {
                    background: lighten($dark_violet, 10%);
                }
            }
        }
    }
}

@media screen and (max-width: $mobile) {
    main.page {
        background: url('../../images/bg-main-mobile.png') center top no-repeat $white;
        padding: 3rem .75rem;
        section.left, section.right {
            flex: 1 1 100%;
        }
        section.left {
            display: flex;
            flex-flow: row wrap;
            figure.card-image {
                display: inline-block;
                position: relative;
                span {
                    font-size: 10px;
                }
                &.front {
                    margin-top: -70px;
                    order: 2;
                    img {
                        margin: 0 0 0 0;
                        max-width: 85%;
                    }
                    span.card-logo {
                        top: 10px;
                        left: 7px;
                        svg {
                            transform: scale(.7);
                        }
                    }
                    span.card-number {
                        bottom: 45px;
                        font-size: 18px;
                        left: 20px;
                    }
                    span.card-name {
                        bottom: 20px;
                        left: 20px;
                    }
                    span.card-date {
                        bottom: 20px;
                        right: 65px;
                    }
                }
                &.back {
                    order: 1;
                    text-align: right;
                    img {
                        margin: 0 0 0 0;
                        max-width: 85%;
                    }
                    span.card-cvc {
                        right: 35px;
                        top: 68px;
                    }
                }
            }
        }
        section.right {
            margin-top: 50px;
        }
    }
}